<% @applications.each do |application| %>
<h2><%= application[0] %></h2>
<ul>
<% application[1].each do |environment| %>
  <li>
  <%= environment[:environment] %>: <%= environment[:version]%>
  </li>
<%end%>
</ul>
<%end%>
